package restService.jersey.dao;

import org.bson.Document;
import org.bson.conversions.Bson;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import restService.jersey.bean.${beanName};
import restService.jersey.common.BaseDao;
import restService.jersey.util.MongoUtil;

public class ${beanName}Dao extends BaseDao<${beanName}>{

	private final static Logger log = LoggerFactory.getLogger(${beanName}Dao.class);
	
	private final static ${beanName}Dao ${beanname}Dao = new ${beanName}Dao();
	
	public static ${beanName}Dao get${beanName}Dao(){
		return ${beanname}Dao;
	}
	private  ${beanName}Dao() {

	}
	@Override
	public String getDbName() {
		return MongoUtil.DB_NAME_DEFAULT;
	}

	@Override
	public String getCollectionName() {
		return "${beanName}";
	}

	@Override
	public Bson getUniqueIndex(${beanName} java) {
		return new Document("${beanname}Id",java.get${beanName}Id());
	}

	@Override
	public Logger getLogger() {
		return log;
	}

}
